{% extends 'base.html' %}
{% block content %}



    <div style="width: 100%;text-align: center"><h1>用户管理</h1></div>

    {% if isPermession %}


    <form method="post">

    

        {% if message %}
            <div class="alert alert-primary"> {{ message }}</div>

        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-4">
                工号： <input type="text" name="id" value="{% if user.id %}
{{ user.id }}
                {% endif %}" {% if edit %}
                              readonly
            {% endif %}>
            </div>



            <div class="col-xs-4">用户名：
                <input type="text" name="user_name" value="{% if user %}
{{ user.user_name }}
                {% endif %}">
            </div>
       <div class="col-xs-4">密码：
                <input type="text" name="password" value="{% if user %}
{{ user.password }}
                {% endif %}">


            </div>

        </div>

        <div class="row">

            <div class="col-xs-4">职位：
                <select  name="postionId">
                    {% for foo in departmentPostion %}




                        {% ifequal user.postionId foo.id %}
                                            <option value="{{ foo.id }}" selected>{{ foo.position }}</option>


                            {% else %}
                                            <option value="{{ foo.id }}">{{ foo.position }}</option>

                        {% endifequal %}

                    {% endfor %}



                </select>
            </div>


                    <div class="col-xs-4">
                <button class="btn btn-primary" type="submit" style='width: 120px;height: 30px;margin-right: 0px'>
                    {% if edit %}
                        编辑

                    {% else %}
                        提交
                    {% endif %}

                </button>

            </div>



        </div>







    </form>

    {% endif %}


        <div class="row" style="margin-top: 30px">

            <div class="col-xs-6">
                <form method="get" action="/user/">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-control search-box search-box-circle has-icon-left has-icon-right search-example"
                             id="searchboxExample">
                            <input id="inputSearchExample3" type="search" class="form-control search-input"
{% if keywords %}
{{ keywords }}
{% endif %}                                   placeholder="搜索" name="keyword" value="
">
                            <label for="inputSearchExample3" class="input-control-icon-left search-icon"><i
                                    class="icon icon-search"></i></label>
                        </div>
                        <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">搜索</button>
  </span>
                    </div>
                </form>

            </div>
        </div>




        <table class="table table-bordered" style="margin-top: 15px">
            <thead>
            <tr>
                <th>工号</th>
                <th>用户名</th>
                <th>密码</th>
                <th>部门</th>
                <th>职位</th>

                                    {% if isPermession %}

                <th>操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for foo in resultlst %}
                <tr>


 
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.user_name }}</td>
                    <td>{{ foo.password }}</td>
                    <td>{{ foo.department }}</td>
                    <td>{{ foo.position }}</td>

                    {% if isPermession %}

                    <td>
                        <a class="btn btn-primary" type="button"
                           href="/user/edit?id={{ foo.id }}{% if keywords %}

&keyword={{ keywords }}

{% endif %}">编辑</a>
                        <a class="btn btn-primary" type="button" href="/user/delete?id={{ foo.id }}
{% if keywords %}

&keyword={{ keywords }}

{% endif %}



">删除</a>

                    </td>
                {% endif %}
                </tr>


            {% endfor %}


            </tbody>
        </table>


{% endblock %}